version: '3.8'

services:
  n8n:
    ports:
      - "5678:5678"

  supabase_studio:
    ports:
      - "54323:3000"

  prometheus:
    ports:
      - "9090:9090"

  grafana:
    ports:
      - "3000:3000"
